<app-header></app-header>
<div class="box-1">
    <img src="../../assets/photo-1.jpg" alt="Photo 1">
    <h1>Nom: Ellie Garcia</h1>
    <h2>E-mail: elliegarcia03&commat;gmail.com</h2>
    <p>
        Bonjour à toi, je suis une ange gardienne prête à t'accompagner durant tes épreuves les plus difficiles.<br>
        Je pourrais t'aider à faire des tâches ménagères les plus difficiles si tu ne peux le faire par toi-même.<br>
        Je t'accompagnerai durant des épreuves les plus difficiles que tu rencontreras dans ta vie.<br>
        Laisse-moi t'aider.
    </p>
</div>
<div class="box-2">
    <img src="../../assets/photo-2.jpg" alt="Photo 2">
    <h1>Nom: Joséphine Dubois</h1>
    <h2>E-mail: josephinedubois&commat;gmail.com</h2>
    <p>
        Bonjour, Monsieur ou Madame, vous qui rergade ma bio actuellement, je suis une ange gardienne de ménage.<br>
        Je suis à votre disposition pour faire le ménage où vous voulez, car je sais que faire le ménage n'est pas très amusant pour tout le monde.<br>
        N'hésitez pas à me contacter par mail, j'attends votre message avec impatience ! :)
    </p>
</div>
<div class="box-3">
    <img src="../../assets/photo-3.jpg" alt="Photo 3">
    <h1>Nom: François Moreau</h1>
    <h2>E-mail: francoismoreau111&commat;gmail.com</h2>
    <p>
        Hello, Hola, Bonjour, je me nomme François Moreau, je suis un ange gardien devenu maintenant visible.<br>
        Je suis à votre service 24h/24, 7 jours sur 7, pour vous aider à faire tout type de choses, même de petites choses.<br>
        Je suis disponible à toutes vos demandes, n'hésitez pas à me contactez pour avoir plus de renseignements. <br>
    </p>
</div>