<app-header></app-header>
<div class="First_part">
    <h1>BIENVENUE SUR "SEARCH GUARDIAN ANGEL"</h1>
    <p>"J'ai un ange gardien qui veille sur moi chaque seconde de chaque jour, <br>je sais que je ne suis jamais seule."</p>
    <p>"Nous, les anges gardiens, nous nous sommes enfin montrés pour vous apporter<br> de la joie dans vos vies, ainsi que notre aide."</p>
    <p>"Nous vous avons longtemps observés, depuis votre venu au monde, on vous a <br>toujours accompagnés et nous continuerons mais sans être cachés."</p>
</div>
<div class="Second_part">
    <img src="../../assets/ange-gardien.jpg" alt="Image ange-gardien">
    <h1>ANGE-GARDIEN</h1>
    <p>
        Un ange gardien est un esprit pur, <br>créée par Dieu,
        qui nous est spécialement attaché pour <br>veiller sur nous en
        permanence et nous protèger du mal. <br>Leurs précences nous est une 
        aide, et d'un grand réconfort: <br>ils marchent à côté de nous,
        ils nous protègent, <br>en toute circontance, ils nous défendent dans
        les dangers, et <br>nous pouvons avoir recours à eux à tout moment.
    </p>
</div>
<div class="Third_part">
    <img src="../../assets/logo.png" alt="Logo">
    <h1>Contact avec les Anges Gardiens</h1>
    <p>Ici, vous trouverez des anges gardiens qui sont prêt à vous aider<br>
        dans votre vie, vous aider à faire vos tâches ménagères ou bien, aller <br>
        faire des courses, etc. Il sera à votre disposition, vous protègera et vous <br>
        accompagnera partout quand vous aurez besoin de lui.
    </p>
    <button type="button"><a routerLink="/angegardien">Trouvez votre ange gardien</a></button>
</div>
<footer>
    <h1>Contactez-nous</h1>
    <p>
        Instagram: SearchGuardian_Angel<br>
        Facebook: SearchGuardian_angel<br>
        Email: searchguardianangel&commat;gmail.com<br>
    </p>
    <a href="https://www.ecoindex.fr/resultat/?id=b67fb2a2-e148-46fb-b276-40cbf29ea70a">Accéder à l'ÉcoIndex du site</a>
</footer>